//无法配置路径,暂时使用
//https://github.com/umijs/dumi/issues/824
@import "../../../style/variable";

.basicBtnCss(@color,@border-color){
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 15px;
  border: 1px solid;
  color: @color;
  border-color: @border-color;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wk-btn{
  .basicBtnCss(@color-match-neutral-content,@color-match-neutral-border);
  &.primary{
    background-color: @btn-primary-bg;
    color: #ffffff;
    border: 1px solid transparent;
  }
  &.dashed{
    border-style: dashed;
    &:hover, &:focus{
      border-color: @color-match-main-primary;
      color: @color-match-main-primary;
    }
  }
  &.text{
    border: none;
    color: @color-match-main-primary;
  }
  &.link{
    border: none;
    color: @color-match-main-primary;
  }
  >.wk-btn-inner{
    font-size: inherit;
    line-height: inherit;
  }
}
.wk-btn-danger{
  .basicBtnCss(@color-match-func-error,@color-match-func-error);
  &.primary{
    background: @color-match-func-error;
    color: @font-color-white;
    border-color: transparent;
  }
  &.dashed{
    border-style: dashed;
  }
  &.link{
    border: none;
  }
  &.text{
    border: none;
  }
}


